body{
    width: 1200px;
    font-family: Verdana;
    margin:  auto;
}
#title {
    background-image: url("../IMG/header.jpg");
    height: 150px;
}
#title h1{
    color: white;
    font-size: 3em;
    margin: 10px;
}
h1 {


}
nav{

    background-color: #413f3f;
}
nav a:visited {

    color: #affc85;
    text-decoration: none;

}
nav a{
    color: #affc85;
    text-decoration: none;
    margin: 2px;

}
nav a:hover {
    color: #ffffff;
    text-decoration: underline;
}
article{
    background-color: #efeded;
    margin: 5px;
    padding: 5px;
}
article h1{
    text-decoration: underline;
    font-size: 20px;
}
